// 
// Masthead
// 
body{
    color: #383838;
    background: linear-gradient(0deg, #effd21 0%, #77da3e 100%);
}

section{
    padding-top: 50px;
    padding-bottom: 50px;
}

.display-4{
    font-weight: bold;
}

.col-lg-4{
    text-align: center;
}

.img-fluid{
    max-width: 200px;
}

.bg-black{
    background: #3e3e3e !important;
}

header.masthead {
    position: relative;
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;

    .masthead-content {
        z-index: 1;
        position: relative;

        .masthead-heading {
            font-size: 4rem;
        }

        .masthead-subheading {
            font-size: 2rem;
            color: #3b3939;
            text-decoration: underline;
        }
    }

    .bg-circle {
        z-index: 0;
        position: absolute;
        border-radius: 100%;
    }

    .bg-circle-1 {
        height: 90rem;
        width: 90rem;
        bottom: -55rem;
        left: -55rem;
    }

    .bg-circle-2 {
        height: 50rem;
        width: 50rem;
        top: -25rem;
        right: -25rem;
    }

    .bg-circle-3 {
        height: 20rem;
        width: 20rem;
        bottom: -10rem;
        right: 5%;
    }

    .bg-circle-4 {
        height: 30rem;
        width: 30rem;
        top: -5rem;
        right: 35%;
    }
}

@media (min-width: 992px) {
    header.masthead {
        padding-top: 100px;
        padding-bottom: 150px;

        .masthead-content {
            .masthead-heading {
                font-size: 6rem;
                color: #383838;
            }

            .masthead-subheading {
                font-size: 4rem;
                color: #3b3939;
                text-decoration: underline;
            }
        }
    }
}
