doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Dinheiro público, código público

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.4/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i' rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom.fixed-top
            .container.px-5
                a.navbar-brand(href='index.html') Index
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto
                        li.nav-item
                            a.nav-link(href='quem-somos.html') Quem somos
                        li.nav-item
                            a.nav-link(href='carta-compromisso.html') Carta de compromisso

        // Header
        header.masthead.text-center.text-white
            .masthead-content
                .container.px-5
                    h1.masthead-heading.mb-0 Carta compromisso
            .bg-circle-1.bg-circle
            .bg-circle-2.bg-circle
            .bg-circle-3.bg-circle
            .bg-circle-4.bg-circle

        // Content section 1
        section#scroll
            .container.px-5
                .row.gx-5.align-items-center
                    .col-lg-12.order-lg-1
                        .p-5
                            h2.display-4 Considerando que o software livre:
                            p Distribui o código fonte dos programas, o que os transforma em bens públicos, disponíveis para utilização por toda a comunidade e da maneira que seja mais conveniente a cada indivíduo, grupo, empresa ou órgão público;
                            p Gera empoderamento popular através da liberdade de conhecimento que está implícita em seu conceito;
                            p Proporciona autonomia para técnicos, professores, gestores e jovens autodidatas;
                            p É auditável e transparente, ou seja, é melhor para a garantia da privacidade de dados, pois sabe-se exatamente o que se está sendo instalado nos dispositivos;
                            p Supre as necessidades de grande parte dos usuários em repositórios públicos de instalação simples e imediata, tanto para desktops como para tablets e smartphones, de forma que não é necessário buscar um fornecedor diferente para produtos diferentes, como editores de texto, editores de imagens, jogos educativos, gestão de projetos ou outros;
                            p É mais seguro, dada a sua auditabilidade, reduzindo assim os riscos de intervenção por motivos militares, econômicos ou outros, além de ser imune à maioria dos vírus existentes e resistente aos poucos projetados para infectar sistemas livres;
                            p É adaptável ao contexto onde é aplicado, por exemplo: educação, saúde, uso doméstico, uso acadêmico, embarcados, servidores, supercomputadores, etc, com soluções específicas e adequadas ao contexto;
                            p Exige menor demanda de hardware, proporcionando significativas reduções de custos;
                            p Independe de fornecedor, possibilitando a contratação de desenvolvimento e suporte nacional e local em seus diversos níveis, para todo e qualquer tipo de aplicação, fortalecendo desta forma a economia nacional e local;
                            p É democrático em todas as suas dimensões: jurídica, pública e epistemológica.

                            h2.display-4 Considerando que o uso e desenvolvimento do software livre:
                            p proporciona desenvolvimento tecnológico, econômico e social;
                            p promove a independência do fornecedor de software, já que não se fica dependente de apenas um fabricante, e tão pouco se obriga a adquirir novas licenças a cada vez que algum software deixa de ter suporte ou lança-se uma nova versão;
                            p possibilita a contratação de  desenvolvimento e suporte nacional e local em seus diversos níveis (não  apenas no nível 1), para todo e qualquer tipo de aplicação, desta forma, fortalece a economia nacional e local;
                            p promove a inclusão digital de forma econômica e eficiente, desde que haja planejamento, por exemplo, treinando instrutores e suporte técnico;
                            p economiza dinheiro público pois, deixaria de pagar as licenças dos softwares proprietários, ou redireciona esse gasto para o desenvolvimento de software livre em empresas brasileiras, de modo que aprimoramos nossa expertise, fortalecemos a economia, sem abrir mão da interação com competências estrangeiras, mescladas em um mesmo software, permite ainda a formação de consórcios entre órgãos públicos para otimização de gastos públicos em software específico para gestão.
                            p intensifica a segurança da informação, pois, com software aberto é possível identificar e adaptar a lógica do sistema para um formato confiável de transporte e de divulgação das informações;
                            p incentiva o mercado interno pois os desenvolvedores e técnicos locais encontrariam mais emprego nessa área;
                            p produz sistemas de qualidade frequentemente superior àquela do modo tradicional, adquire importância estratégica para o país;
                            p está fora do risco da pirataria, pois sua licença em lugar de proibir o compartilhamento, o valoriza.

                            h2.display-4 Concluímos que:
                            p É dever do poder público dar preferência pelo uso e desenvolvimento de softwares livres, ante o uso de softwares proprietários;
                            p É questão de soberania nacional o fomento ao uso e desenvolvimento de software livre, sendo um item fundamental para as estratégias de TI, tanto no governo quanto na indústria de software. A liberdade de escolha e a possibilidade de independência das empresas de software de grande porte é vista como uma grande oportunidade para o desenvolvimento da indústria de TI. Considerando o enorme capital humano que o país tem e o tamanho do seu mercado, torna-se viável a criação de um ecossistema apto a desenvolver este tipo de tecnologia.
                            p É imprescindível que sistemas que armazenam dados sensíveis, como o voto de pessoas e dados forenses, sejam feitos em software livre, de modo que possam ser devidamente auditados e protegidos os dados analisados.
                            p a industria do software não é poluente (há controvérsias, depende do hardware utilizado) e o serviço é permanente de atualização e manutenção dos softwares e sistemas operacionais, conhecido como Suporte mas também traduzido como Apoio Instrutivo que garanta o pleno funcionamento do computador;
                            p É de interesse público a manutenção do fomento e de entidades provedoras de soluções estratégicas em software livre para Tecnologia da Informação e Comunicação no Setor Público, tais como SERPRO, DATAPREV, universidades públicas, institutos e centros de tecnologia federais, estaduais e municipais.

                            h2.display-4 Diante das considerações acima, convidamos o(a) candidato(a) a cargo executivo ou legislativo no governo brasileiro, a assinar o documento a seguir, e afirmar:
                            p que apoiará a continuidade do Programa Software Público Brasileiro, um tipo específico de software livre que adota um modelo de licença livre para o código-fonte, a proteção da identidade original entre o seu nome, marca, código-fonte, documentação e outros artefatos relacionados por meio do modelo de Licença Pública de Marca – LPM e é disponibilizado na internet em ambiente virtual público, sendo tratado como um benefício para a sociedade, o mercado e o cidadão conforme as regras e requisitos previstos no Capítulo da Instrução Normativa Instrução Normativa Nº 01 de 17 de janeiro de 2011.
                            p que zelará pelos princípios econômicos consagrados na Constituição brasileira de 1988, dando preferência ao uso do software livre pelo governo quando houver software disponível nesta licença;
                            p que implementará mecanismos que fomentem e facilitem o uso e desenvolvimento do software livre na sociedade brasileira;
                            p que defenderá que o ensino na rede pública federal e estadual utilize ferramentas livres para a educação tecnológica, e seus professores tenham capacitação adequada para ministrar este conteúdo;
                            p que garantirá a instrução e ambientação necessária dos professores aos softwares livres de que isso é uma inestimável riqueza humana.

                            b COMPROMISSO <br>
                            b A comunidade brasileira de software livre entende que os cargos do executivo e legislativo, federal e estadual, devem ser exercidos por pessoas comprometidas com estes pontos, pensados para manter a soberania tecnológica nacional, a privacidade de dados, e o desenvolvimento da nação. Honrar este compromisso será a característica de governantes que se destacarão na história do país.



        // Footer
        footer.py-5.bg-black
            .container.px-5
                p.m-0.text-center.text-white.small Copyright &copy; Your Website 2021

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')