doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Dinheiro público, código público

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.4/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i' rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom.fixed-top
            .container.px-5
                a.navbar-brand(href='/') Index
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto
                        li.nav-item
                            a.nav-link(href='quem-somos.html') Quem somos
                        li.nav-item
                            a.nav-link(href='carta-compromisso.html') Carta de compromisso

        // Header
        header.masthead.text-center.text-white
            .masthead-content
                .container.px-5
                    h1.masthead-heading.mb-0 Dinheiro público, código público
                    p.masthead-subheading.mb-0 Se for dinheiro público, o código deve ser público também!
                    a.btn.btn-primary.btn-xl.rounded-pill.mt-5(href='#scroll') Conheça mais
            .bg-circle-1.bg-circle
            .bg-circle-2.bg-circle
            .bg-circle-3.bg-circle
            .bg-circle-4.bg-circle

        // Content section 1
        section#scroll
            .container.px-5
                .row.gx-5.align-items-center
                    .col-lg-6.order-lg-2
                        .p-5
                            img.img-fluid.rounded-circle(src='assets/img/pmpc-logo.jpg', alt='...')
                    .col-lg-6.order-lg-1
                        .p-5
                            h2.display-4 Sobre
                            p
                                | Este é um movimento inspirado na campanha desenvolvida pela Free Software Foundation da Europa (Public Money? Public Code!) que busca criar uma legislação que exija que o software com financiamento público desenvolvido para o setor público seja disponibilizado ao público sob uma licença de Software Livre e de Código Aberto.
                            p   Se for dinheiro público, deveria ser código público também!

        // Content section 2
        section
            .container.px-5
                .row.gx-5.align-items-center
                    .col-lg-6
                        .p-5
                            img.img-fluid.rounded-circle(src='assets/img/adminstracao-publica.png', alt='...')
                    .col-lg-6
                        .p-5
                            h2.display-4 Por que?
                            p As administrações públicas que seguem este princípio podem se beneficiar da colaboração com outros órgãos públicos, independência de fornecedores únicos, economias fiscais potenciais, maior inovação e uma melhor base para a segurança de TI.

        // Content section 3
        section
            .container.px-5
                .row.gx-5.align-items-center
                    .col-lg-6.order-lg-2
                        .p-5
                            img.img-fluid.rounded-circle(src='assets/img/apoie.png', alt='...')
                    .col-lg-6.order-lg-1
                        .p-5
                            h2.display-4 Apóie
                            p Visamos buscar apoio de o maior número possivel de cidadãos, instituições e organizações da sociedade civil na assinatura da Carta Aberta.
                            p Usaremos as assinaturas para entrar em contato com tomadores de decisão e representantes políticos em todo Brasil e convencê-los a tornar o código público o padrão.
                            p Você está convidado a adicionar sua assinatura para causar um impacto maior!

        // Footer
        footer.py-5.bg-black
            .container.px-5
                p.m-0.text-center.text-white.small Copyright &copy; Your Website 2021

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')